body{
	background-image:url('gradientbackground.svg'); background-repeat:no-repeat repeat;
	overflow:hidden;
}
.menu{
	position:fixed;
	top:0;
	left:0;
	background-color:black;
	text-align:center;
	height:80px;
	width:100%;
	padding-top:30px;
	display:table;
	z-index:4;
}
span{
	display:table-cell;
}
a{
	text-align:center;
}
a:hover{
	opacity:.5;
}
#textdiv{
	position:absolute;
	top:200px;
	text-align:center;
	left:0;
	right:0;
	-webkit-text-stroke: 0.1px white;
	font-weight:20px;
}
#textdiv h1, h2{
	color:white;
}
/*.menu{
	position:fixed;
	top:0;
	left:0;
	background-color:black;
	text-align:center;
	height:80px;
	width:100%;
	opacity:.5;
}
.menuitems{
	opacity:1;
	z-index:4;
}
.menu a img{
	display:inline-block;
	width:40px;
	height:40px;
	opacity:1;*/
/*.menu{
	position:fixed;
	top:0;
	left:0;
	background-color:black;
	text-align:center;
	height:80px;
	width:100%;
	opacity:.5;
}
.menuitems{
	opacity:1;
	z-index:4;
}
.menu a img{
	display:inline-block;
	width:40px;
	height:40px;
	opacity:1;*/
