.menu{
	position:fixed;
	top:0;
	left:0;
	background-color:black;
	text-align:center;
	height:80px;
	width:100%;
	padding-top:30px;
	display:table;
	z-index:4;
}
span{
	display:table-cell;
}
a{
	text-align:center;
}
span a:hover{
	opacity:.5;
}
.softwares{
	position:absolute;
	top:300px;
	margin:auto;
	text-align:center;
	padding-left:300px;
	padding-right:300px;
}
.softwares ul{
	text-align:center;
}
.softwares ul li{
	display:inline;
}
