/*	background-image:url('../Media/gradientbackground.svg'); background-repeat:no-repeat repeat;*/
body{
	background-image:linear-gradient(#ED4264, #FFEDBC);
	overflow:hidden;
	height:1080px;
	width:100%;
}
.menu{
	position:fixed;
	top:0;
	left:0;
	background-color:black;
	text-align:center;
	height:80px;
	width:100%;
	padding-top:30px;
	display:table;
	z-index:4;
}
span{
	display:table-cell;
}
a{
	text-align:center;
}
.menu a:hover{
	opacity:.5;
}
h1{
	font-family:helvetica;
	font-size:40px;
	color:white;
	text-align:center;
	margin-top:200px;
	margin-bottom:80px
}
h1::selection{
	background-color:black;
}
h1:hover{
	color:black;
}
h1:hover::selection{
	background-color:white;
}
#divA{
	text-align:center;
	font-family:helvetica;
	display:block;
	color:white;
}
#divB{
	text-align:center;
	font-family:helvetica;
	display:block;
	color:white;
	margin-left:auto;
	margin-right:auto;
	width:40%;
	height:300px;
}
li button{
	background-color:white;
	border:none;
	border-color:white;
	width:300px;
	height:50px;
	border-radius:30px;
}
li button:hover{
	cursor:pointer;
	background-color:black;
	color:white;
}
a{
	text-decoration:none;
	color:black;
}
ul{
	display:grid;
	list-style:none;
	padding-left:0px;
}
li{
	font-weight:40px;
}
li:not(:last-child) {
    margin-bottom:20px;
}