body{
	background-image:linear-gradient(#ED4264, #FFEDBC);
	overflow:hidden;
	height:1080px;
	width:100%;
}
.menu{
	position:fixed;
	top:0;
	left:0;
	background-color:black;
	text-align:center;
	height:80px;
	width:100%;
	padding-top:30px;
	display:table;
	z-index:4;
}
.menu span{
	display:table-cell;
}
.menu span a{
	text-align:center;
}
.texte{
	text-align:center;
	width:auto;
	margin-top:400px;
	padding-left:0px;
}
.texte li{
	display:inline;
	text-align:center;
}
.texte li a{
	text-align:center;
}
.texte li::selection{
	background-color:black;
}
.texte li:not(:last-child) {
    margin-right:200px;
}
.texte li button{
	border-radius:20px;
	width:300px;
	height:50px;
}