body{
	background-image:url('../Media/gradientbackground.svg'); background-repeat:no-repeat repeat;
	overflow:hidden;
}
.menu{
	position:fixed;
	top:0;
	left:0;
	background-color:black;
	text-align:center;
	height:80px;
	width:100%;
	padding-top:30px;
	display:table;
	z-index:4;
}
.menu span{
	display:table-cell;
}
.menu span a{
	text-align:center;
}
.menu .inactive a:hover{
	opacity:.5;
}
.softwares{
	position:absolute;
	top:300px;
	width:100%;
	padding-left:300px;
	padding-right:300px;
	text-align:center;
	display:table;
}
.softwares span{
	text-align:center;
	padding-left:0px;
	display:table-cell;
}
